* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

.galeria-imagens {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.galeria-imagens img {
  max-height: 480px;
}

.galeria-imagens h3 {
  text-align: center;
  grid-column: span 2;
}

.galeria-imagens img:last-child {
  grid-column: span 2;
}

.conteudo-principal-text {
  padding: 16px;
  border: 1px solid #000000;
  background-color: #ffffff;
}

.conteudo-principal-text p {
  margin-bottom: 24px;
  font-size: 1.2rem;
}

.btn-voltar {
  text-decoration: none;
  color: #000000;
  border: 1px solid #000000;
  padding: 8px 16px;
  background-color: #ffffff;
  text-transform: uppercase;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  align-self: flex-start;
  margin-bottom: 16px;
}

.conteudo-principal-home a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  padding: 64px;
  font-size: 1.4rem;
  text-transform: uppercase;
  border: 1px solid #000000;
}

.conteudo-principal-home  a + a {
  margin-top: 16px;
}

a:hover {
  transition: all 0.6s ease-in-out;
  color: #ffffff;
  background-color: #000000;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f7f7f7;
}

header {
  border: 1px solid #000000;
  background-color: #ffffff;
  text-transform: uppercase;
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

video {
  max-width: 100%;
  height: auto;
  margin-bottom: 24px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 16px;
}

footer {
  border: 1px solid #000000;
  text-align: center;
  padding: 24px;
  background-color: #ffffff;
  color: #000000;
  width: 100%;
  box-shadow: 1px 0 4px rgba(0, 0, 0, 0.2);
}
